.npmrc
.env.*
.cache

TODOS

# dependencies
/node_modules

# Splash
splash/node_modules/
splash/.cache
splash/dist/
splash/build/

# Build
/dist

# testing
/coverage

# misc
.DS_Store
*.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# docker
doc