.todo-list {
  border: rem(1) solid $blue-gray-800;

  ul {
    border-top: rem(1) solid $blue-gray-800;
  }

  ul > * + * {
    border-top: rem(1) solid $blue-gray-800;
  }

  ul > :nth-child(even) {
    background: lighten($blue-gray-900, 2%);
  }

  ul > li {
    align-items: center;
    display: flex;
    padding: rem(16);

    & > :nth-child(2) {
      flex: 1;
    }

    & > * + * {
      margin-left: rem(16);
    }
  }

  &__add-form {
    padding: rem(16);
  }

  &__add-input {
    background: $blue-gray-800;
    color: $white;
  }

  &__input {
    background: transparent;
    color: $white;
    padding: 0;
    height: rem(28);
  }

  &__status-btn {
    height: rem(20);
    width: rem(20);
    border-radius: 50%;
  }

  &__delete-btn {
    width: rem(35);

    &:hover {
      background: none;
    }
  }

  ::placeholder {
    color: $blue-gray-200;
  }

  :-ms-input-placeholder {
    color: $blue-gray-200;
  }

  ::-webkit-input-placeholder {
    color: $blue-gray-200;
  }
}
